openai==0.28
faiss-cpu
sentence-transformers
requests
numpy
streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
pdf2image
langchain_google_genai
rouge-score
transformers
torch
nltk
bert-score
